@model AlgrmsWeb.Models.Issuer

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header content-center">
@{
    ViewBag.Title = "Create";
    <h1>Create Issuer</h1>
    }
</section>
<section class="content">
    <div class="box box-primary">
       
    @using (Html.BeginForm())
            {
        <div class="box-body">
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.issuer_code)
                @Html.EditorFor(model => model.issuer_code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.issuer_code, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.issuer_name)

                @Html.EditorFor(model => model.issuer_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.issuer_name, "", new { @class = "text-danger" })

            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.issuer_contact_name)
                @Html.EditorFor(model => model.issuer_contact_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.issuer_contact_name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.issuer_conatct_phone)
                @Html.EditorFor(model => model.issuer_conatct_phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.issuer_conatct_phone, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.issuer_email)
                @Html.EditorFor(model => model.issuer_email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.issuer_email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.issuer_desription)

                @Html.TextAreaFor(model => model.issuer_desription, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.issuer_desription, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.issuer_address)
                @Html.EditorFor(model => model.issuer_address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.issuer_address, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.issuer_city)
                @Html.EditorFor(model => model.issuer_city, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.issuer_city, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.issuer_state)
                    @Html.DropDownListFor(model => model.issuer_state, new SelectList(ViewBag.zones, "value", "text"), " Select State ", new { @class = "form-control select" })
                    @Html.ValidationMessageFor(model => model.issuer_state, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.issuer_country)
                @Html.EditorFor(model => model.issuer_country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.issuer_country, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.view_status)
                <div class="checkbox">
                    @Html.EditorFor(model => model.view_status)
                    @Html.ValidationMessageFor(model => model.view_status, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.active_status)
                <div class="checkbox">
                    @Html.EditorFor(model => model.active_status)
                    @Html.ValidationMessageFor(model => model.active_status, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.issuer_geo_data)
                @Html.EditorFor(model => model.issuer_geo_data, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.issuer_geo_data, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.created_at)
                @Html.EditorFor(model => model.created_at, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.created_at, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.updated_at)
                @Html.EditorFor(model => model.updated_at, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.updated_at, "", new { @class = "text-danger" })
            </div>


        </div>
                    <div class="box-footer">
                        <div class="col-md-12">
                            <div class="form-group no-margin">
                                <button type="submit" class="btn btn-success"><span class="fa fa-save"></span> &nbsp;Save</button>
                                <a href="#" class="btn btn-default"><span class="fa fa-times-circle"></span> &nbsp;Cancel</a>
                            </div>
                        </div>

                    </div>
    }
        
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</section>


        @*@section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }*@
