@model IEnumerable<AlgrmsWeb.Models.Issuer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.issuer_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.issuer_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.issuer_contact_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.issuer_conatct_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.issuer_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.issuer_desription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.issuer_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.issuer_city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.issuer_state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.issuer_country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.view_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.issuer_geo_data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updated_at)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.issuer_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.issuer_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.issuer_contact_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.issuer_conatct_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.issuer_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.issuer_desription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.issuer_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.issuer_city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.issuer_state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.issuer_country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.view_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.issuer_geo_data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updated_at)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
